@import '../../style/mixin';
.header-component {
    position: fixed;
    z-index: 999;
    height: 87px;
    width: 100%;
    background: linear-gradient(270deg, rgba(121, 121, 121, 1) 0%, rgba(90, 90, 90, 1) 34%, rgba(68, 68, 68, 1) 100%);
    box-shadow: 0px 2px 38px 0px rgba(0, 0, 0, 0.5);
  
    .logo {
      z-index: 100;
      position: absolute;
      @include ct;
      display: block;
      width: 82px;
      margin: auto 0;
      margin-left: 113px;
  
    }
}
.login-info {
  @include center;
  width: 1368px;
  height: 40px;

  .login {
    float: right;
    cursor: pointer;

    .avatar {
      @include ct;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    span.nick-name {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin-left: 60px;
      font-size: 18px;
      font-family: PingFangSC;
      font-weight: 400;
      color: #8B959A;
      cursor: pointer;
    }
    .div-quit{
      @include ct;
      right: -50px;
      height:17px;
      font-size:12px;
      font-family:PingFangSC;
      font-weight:400;
      color:rgba(255, 255, 255, 1);
      line-height:17px;
      
    }
  }

  .un-login {
    float: right;

    img {
      @include ct;
      width: 40px;
      height: 40px;
      background: rgba(216, 216, 216, 1);
      border-radius: 50%;
    }

    p {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin-left: 60px;
      font-size: 18px;
      font-family: PingFangSC;
      font-weight: 400;
      color: #8B959A;
      cursor: pointer;

      a {
        display: inline-block;
        height: 100%;
        line-height: 100%;
        color: #8B959A;

      }
    }
  }
}

@media (max-width:1080px) {
  .header-component {
    height: 50px;
    .logo{
      height: 46px;
    } 
  }
}

@media (max-width:1440px) {
 .header-component {
  height: 66px;
    .logo{
      width: 62px;
    }
  }
}