@import '../../style/mixin.scss';
.footer-component{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 44px;
    background: #494949;
    p{
        @include center;    
        font-size: 14px;
        color: #ffff;
        a{
            color: #fff;
        }
    }
}

@media(max-width:1080px){
    .footer-component{
        height: 25px;
    }
}

@media(max-width:1440px){
    .footer-component{
        height: 34px;
    }
}